.selected_movie__details_wrap button, .update_movies__add_movie_button, .edit_movie_form__form form button, .add_sample_movies, .login_page__login_button {
  background-color: #eec642;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease;
  margin-top: 2rem;
}

.selected_movie__details_wrap button:hover, .update_movies__add_movie_button:hover, .edit_movie_form__form form button:hover, .add_sample_movies:hover, .login_page__login_button:hover, .selected_movie__details_wrap button:focus, .update_movies__add_movie_button:focus, .edit_movie_form__form form button:focus, .add_sample_movies:focus, .login_page__login_button:focus {
  background-color: black;
  color: #eec642;
  outline: none;
  -webkit-box-shadow: 0 0 5px #eec642;
          box-shadow: 0 0 5px #eec642;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%230f0f0f' stroke-width='0.55' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cuse fill='%23141414' href='%23s' y='2'/%3E%3Cuse fill='%23141414' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23191919' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23191919' href='%23s'/%3E%3Cuse fill='%231d1d1d' href='%23s' x='2'/%3E%3Cuse fill='%231d1d1d' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23272727'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%230f0f0f'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%232c2c2c'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
}

button {
  cursor: pointer;
}

nav {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a, nav .nav__link {
  color: white;
  text-decoration: none;
}

nav a:hover, nav .nav__link:hover {
  color: #eec642;
  text-decoration: underline;
  cursor: pointer;
}

nav .nav__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

nav .nav__logo {
  font-size: 2rem;
  font-weight: 700;
}

@media all and (max-width: 760px) {
  nav .nav__logo {
    font-size: 1rem;
  }
}

nav .nav__location {
  color: #eec642;
  margin: 0 1.5rem;
}

nav .nav__location:hover {
  color: #656565;
}

nav .nav__link {
  font-size: inherit;
  font-variant-caps: inherit;
  font-weight: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

nav .nav__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

nav .nav__menu li {
  margin: 0 2rem;
}

nav .nav__mobile_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

nav .nav__hamburger {
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  display: none;
}

@media all and (max-width: 760px) {
  nav .nav__hamburger {
    display: block;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__mobile_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  list-style: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 2rem;
  background-color: #efc63c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23dbb535' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23dbb535'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.mobile_nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile_nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: black;
}

.mobile_nav__close:hover {
  color: white;
  cursor: pointer;
}

.mobile_nav .mobile_nav__item, .mobile_nav .mobile_nav__button {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  display: block;
  padding: 1rem 0;
}

.mobile_nav .mobile_nav__item:hover, .mobile_nav .mobile_nav__button:hover {
  background-color: #ffda61;
}

.mobile_nav__button {
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  font-weight: inherit;
}

main {
  background-color: #fff;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  position: relative;
  background-color: #fff;
}

.movies__styled_background {
  position: absolute;
  top: calc(50% - 87px);
  width: 100vw;
  z-index: 1;
  height: 175px;
  background-color: #efc63c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23dbb535' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23dbb535'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.movies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0 auto;
  width: 100%;
  overflow: scroll;
  z-index: 2;
}

.movies__list::-webkit-scrollbar {
  display: none;
}

.movies__list img {
  width: 162px;
  height: 250px;
  margin: 0 1rem;
  border: 0px solid #eec642;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
}

.movies__list img:hover, .movies__list img:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 3px solid #eec642;
}

.selected_movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2rem;
  position: relative;
}

.selected_movie__placeholder {
  max-width: 100%;
  margin: 7rem 0;
}

.selected_movie > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.selected_movie__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected_movie__details_wrap {
  font-size: 1rem;
}

.selected_movie__details_wrap h3, .selected_movie__details_wrap h4 {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  background-color: black;
  color: white;
}

.selected_movie__details_wrap h3 {
  font-size: 3rem;
  margin-top: 0;
}

@media all and (max-width: 760px) {
  .selected_movie__details_wrap h3 {
    margin-top: 1rem;
  }
}

.selected_movie__details_wrap h4 {
  font-size: 1.5rem;
  margin: 0;
}

.selected_movie__details_wrap p {
  font-family: 'Nunito', sans-serif;
}

.selected_movie__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.selected_movie__image img {
  max-width: 334px;
}

@media all and (max-width: 600px) {
  .selected_movie__image img {
    width: 100%;
  }
}

@media all and (max-width: 760px) {
  .selected_movie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal__outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__outside.hide {
  display: none;
  pointer-events: none;
}

.modal__inner {
  max-height: 100%;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  padding: 1rem;
  overflow: scroll;
  pointer-events: auto;
}

.cart {
  margin: 3rem auto;
}

.cart__display_items {
  max-width: 800px;
  margin: 3rem auto;
  margin-bottom: 0;
  padding: 0 3rem;
}

@media all and (max-width: 760px) {
  .cart__display_items {
    padding: 0.5rem;
    margin: 0;
  }
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.cart__item_image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

@media all and (max-width: 760px) {
  .cart__item_image {
    display: none;
  }
}

.cart__item_details {
  padding-left: 4rem;
}

@media all and (max-width: 760px) {
  .cart__item_details {
    padding: 0;
  }
}

.cart__remove_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
  background-color: lightgrey;
  position: absolute;
  font-size: 1.3rem;
  right: 1rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.cart hr {
  width: 80%;
  max-width: 800px;
}

.cart__pricing_display {
  max-width: 600px;
  margin: 3rem auto;
}

.cart__items, .cart__shipping, .cart__subtotal {
  width: 100%;
  margin: 1rem 0;
  color: grey;
  text-transform: uppercase;
}

.cart__items span:last-child, .cart__shipping span:last-child, .cart__subtotal span:last-child {
  float: right;
}

.cart__subtotal {
  color: black;
}

@media all and (max-width: 760px) {
  .cart {
    margin: 0;
  }
}

.quantity_editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: calc(100px / 3);
}

.quantity_editor__minus, .quantity_editor__plus {
  border-radius: 0;
  border: none;
  -ms-flex-preferred-size: 1rem;
      flex-basis: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  border: 1px solid gray;
}

.quantity_editor__quantity {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.update_movies__container {
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%230f0f0f' stroke-width='0.55' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cuse fill='%23141414' href='%23s' y='2'/%3E%3Cuse fill='%23141414' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23191919' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23191919' href='%23s'/%3E%3Cuse fill='%231d1d1d' href='%23s' x='2'/%3E%3Cuse fill='%231d1d1d' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23272727'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%230f0f0f'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%232c2c2c'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(12) translate(-916.67 -687.5)'%3E%3Cg fill='%23383838'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 2rem;
}

.update_movies__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: white;
  text-align: center;
}

.update_movies__add_movie_button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  height: auto;
}

@media all and (max-width: 760px) {
  .edit_movie_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.edit_movie_form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit_movie_form > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.edit_movie_form__image_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit_movie_form__image_preview img {
  border: 3px solid #eec642;
  border-radius: 10px;
  max-width: 265px;
}

.edit_movie_form .edit_movie_form__form form input:focus, .edit_movie_form__form form .edit_movie_form input:focus,
.edit_movie_form .edit_movie_form__form form textarea:focus, .edit_movie_form__form form .edit_movie_form textarea:focus, .edit_movie_form .edit_movie_form__form form button:focus, .edit_movie_form__form form .edit_movie_form button:focus, .edit_movie_form .login_page__form input:focus, .login_page__form .edit_movie_form input:focus {
  outline: none;
  border: 1px solid #eec642;
  -webkit-box-shadow: 0 0 5px #eec642;
          box-shadow: 0 0 5px #eec642;
}

.edit_movie_form__form {
  border: 1px solid grey;
  padding: 2rem;
  border-radius: 15px;
  margin: 0 2rem;
  background-color: #fff;
}

.edit_movie_form__form h2 {
  text-align: center;
}

.edit_movie_form__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit_movie_form__form form input,
.edit_movie_form__form form textarea {
  border: 1px solid gray;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
}

.edit_movie_form__form form textarea {
  resize: none;
  height: 128px;
}

.edit_movie_form__form form button {
  padding: 0;
  height: 34px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.edit_movie_form__form form button.saving {
  background-color: grey;
}

.edit_movie_form__form form button.save_success {
  background-color: white;
  color: black;
}

.edit_movie_form__first_row_flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.edit_movie_form__first_row_flex_wrap input {
  width: 0;
}

.edit_movie_form__first_row_flex_wrap #name {
  margin-right: 0.5rem;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.edit_movie_form__first_row_flex_wrap #price {
  margin-left: 0.5rem;
  -ms-flex-preferred-size: 65px;
      flex-basis: 65px;
}

.add_sample_movies {
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.login_page__container {
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_page__form {
  border: 1px solid grey;
  padding: 2rem;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #fff;
  color: black;
  display: inline-block;
}

.login_page__form input {
  border: 1px solid gray;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
}

.login_page__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: white;
  text-align: center;
}

.login_page__field {
  display: block;
}

.login_page__label {
  display: block;
}

.login_page__button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_page__login_button.fail {
  color: black;
  background-color: #ff8c69;
}
/*# sourceMappingURL=theater.css.map */